<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <a href="/api/v1/<station>/<date>/">Weather</a>
        <a href="/contact/">Contact</a>
        <a href="/help/">Help</a>
    </nav>
    <h1>welcome</h1>
    <p> Hello</p>
    <img src="{{url_for ('static',filename='luffy.png')}}" style="width:500px;height:250px">
    <p>Format: http://127.0.0.1:5000/api/v1/station/date</p>
    <p>Example: http://127.0.0.1:5000/api/v1/10/1860-01-01 </p>
</body>
</html>